body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    font-size: 16px;
    line-height: 1.2;
}

.container {
    display: flex;
    height: 100vh;
}

.menu {
    width: 150px;
    background-color: #333;
    color: white;
    padding: 20px;
    padding-top: 13px;
}

.menu h2 {
    margin-top: 0;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    margin: 23px 0;
    cursor: pointer;
}

.menu-elements {
    margin-top: 40px;
}

.menu ul li:hover {
    text-decoration: underline;
}

.scheduler {
    flex: 1;
    padding-left: 80px;
    padding-bottom: 20px;
    background-color: #white;
    overflow-y: scroll;
    position: relative;
}

.scheduler h2 {
    margin-top: 0;
}

.hours {
    display: flex;
    flex-direction: column;
    position: relative;
}

.hour {
    position: relative;
    height: 90px;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    color: #2c2c2c;
    padding: 4px 0;
    letter-spacing: 0.5px;
}

.hours-wrapper {
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f5f5f5;
}

.hour:hover {
    background-color: #e0e0e0;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 0px;
}


.task-form input, .task-form button {
    margin-right: 10px;
}

/* Styles for the task title and description */
.task-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 5px 0;
}

.task-desc {
    font-size: 12px;
    margin: 0;
    padding: 5px 0;
    color: #f0f0f0;
}

/* Update the task element's appearance */
.task {
    position: absolute;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin-left: 72px;
    width: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    transition: filter 0.2s ease;
}

.task:hover {
    filter: brightness(76%);
}

.day-wrapper {
    display: inline-block;
    width: 19%;
    margin-left: 0px;
    margin-top: 50px;
}

.day-info {
    height: 70px;
    width: 90%;
    background-color: white;
    padding-bottom: 20px;

    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    border-radius: 8px;

    text-align: center;
}

h4 {
    margin: 6px;
}
.month {
    color: grey;
    font-weight: 300;
    text-transform: capitalize;
}

.half {
    margin-top: 26px;
}

.day {
    font-size: 20px;
}

.create-task-h2 {
    color: white;
}

.logo-img {
    width: 120px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

/* General Form Styling */
.task-form {
    background-color: #f9ba32;
    border-radius: 10px;
    padding: 20px;
    padding-left: 90px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

/* Header Styling */
.create-task-h2 {
    color: #333;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.task-form input, .task-form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 0.9em;
}

#task-description{
    height: 60px;
}

#task-description-input{
    width: 300px;
    height: 150px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 0.9em;
}

#add-task-btn:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.date-navigation {
    display: inline-block;
}

.date-navigation button:hover {
    background-color: #45a049;
}

#prev-date-btn, #next-date-btn {
    background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 5px 10px;
        cursor: pointer;
        font-size: 16px;
}

.task-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    word-wrap: break-word;
    line-height: 1.1em;
    padding: 1px;
    color: #f0f0f0;
}

.delete-btn-task {
    position: absolute;
    top: 1px;
    right: 5px;
    cursor: pointer;
    color: white;
    font-size: 25px;
    font-weight: bold;
    z-index: 10;
}

.delete-btn-task:hover {
    color: #ff2c2c;
}

li.highlight {
    color: #4CAF50;
}

.logout-btn {
  background: none;
  border: none;
  color: #e74c3c;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 12px;
  border-radius: 8px;
  transition: background-color 0.2s ease;
  display: block;
  margin: 80% auto 0 auto;
}
.logout-btn:hover {
  background-color: rgba(231, 76, 60, 0.1);
}

